#home_img {
  height: 700px;
  width: 98%;
  margin: 1% 1% 1% 1%;
  background-image: url("../images/dog_welcome.jpg");
  background-position: 50% 50%;
  object-fit: cover;
  background-size: cover;
}

#home_welcome_banner {
  text-align: center;
}
body {
  background-color: #f7f5f5;
}
.home-text {
  margin-top: 5%;
  margin-left: 58%;
  color: white;
  text-align: right;
}

#user_img {
  border-radius: 50%;
}
#user_img_container {
  border: 5px solid red;
  display: flex;
  justify-content: center;
}
#user_container {
  border: 5px solid blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#user_account_info {
  border: 5px solid purple;
  margin-top: 2%;
}
#service_drop_down_menu {
  border: 5px solid yellow;
  display: flex;
  justify-content: center;
}
#history_container {
  border: 5px solid green;
}
#booked_services {
  border: 5px solid orange;
}
